/* Common Shared Style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    border: solid 2px black;

}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #363535;
    text-align: center;
    font-size: 18px;
}



/* nav realted css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.hudai {
    color: rgb(153, 2, 199);
    text-decoration-color: black;
    text-decoration: wavy;
    font-weight: bold;

}

/* header realted style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    width: 585px;
}

.profile-pic {
    width: 584px;
    height: 550px;

}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.banner-tittle {
    font-size: 85px;
    font-weight: 700;
    margin: 5px;
    margin-bottom: 20px;
}

.banner-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/*main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    padding: 80px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
    border: solid black;
    border-radius: 1%;
    box-shadow: 0px 5px 50px 0px rgb(1, 37, 153);
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin: 5px, 10px;
}

.info-title {
    color: #020000;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.info-description {
    color: #FD6E0A;
    margin: 10px;
}

.about-info {
    margin: 1px, 2px;
}

#what-i-do-des {
    padding: 30px 150Px;
    border: solid 2px rgb(109, 1, 1);
    background-color: rgb(249, 212, 1);
    box-shadow: 2px 2px 3px 2px rgb(108, 0, 0);
    font-size: calc(50);
}

.skills-continer {
    display: flex;
    justify-content: space-between;

}

.skill {
    margin: 30Px;
    padding: 20px 20px;
    border-radius: 5px;
    background: #e5d7fc91;
    box-shadow: 0px 6px 50px 0px rgb(9, 9, 9);
    border: solid 1px black;

}


/* resume section style */

.resume-column-Tittle {
    color: #000601;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
}

.resume-container {
    display: flex;


}

.resume-container hr {

    width: 558px;
    height: 1px;
    background: #D1D1D1;
}

.resume-item-tittle {
    color: #070000;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
    color: #012765;
    font-size: 20px;
    font-weight: 600;

}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;

}

.download-cv {
    text-align: center;
    margin-top: 50PX;
}

/* footer styles */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
}

.footer-colum {
    width: 50%;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    width: 100%;
}


/* Button test effect Start */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: calc(20px);
    font-weight: bold;
    text-align: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000) #D1D1D1;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0e0900;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Button test effect End */